@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap');

:root{
   font-size: 62.5%;
   --dark-gray: #111517;
   --very-light-gray: #fafafa;
   --dark-blue: #2b3945;
   --very-dark-blue: #202c37;
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Nunito Sans', sans-serif;
}
a{
   text-decoration: none;
}
body{
   background-color: var(--very-light-gray);
}
.dark-mode{
   background-color: var(--very-dark-blue);
   --very-light-gray: #e9dfdf;
}

/* Header */
header{
   background-color: var(--very-light-gray);
   box-shadow: 0 3px .7rem rgba(0,0,0,.1);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1.5rem;
}
.dark-mode header{
   background-color: var(--dark-blue);
}
header a{
   color: var(--very-dark-blue);
   font-size: 1.8rem;
   font-weight: 800;
}
.dark-mode header a{
   color: var(--very-light-gray);
}
.dark-mode-toggler label{
   font-size: 1.5rem;
   font-weight: 600;
   cursor: pointer;
}
.dark-mode .dark-mode-toggler{
   color: var(--very-light-gray);
}
.dark-mode-toggler i{
   margin-right: .4rem;
}
.dark-mode-toggler input{
   display: none;
}

/* Search Section */
#search-section{
   padding: 2rem;
}
.input-group{
   background-color: white;
   box-shadow: 0 3px .7rem rgba(0,0,0,.1);
   border-radius: .3rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 1.6rem;
   margin-bottom: 2rem;
   padding: 1.3rem .3rem;
}
.input-group select{
   cursor: pointer;
}
.dark-mode .input-group{
   background-color: var(--dark-blue);
}
.input-group:last-child{
   width: 50%;
   justify-content: center;
   margin-bottom: 0;
}
.input-group i{
   color: rgba(0, 0, 0, .3);
   width: 15%;
   text-align: center;
}
.dark-mode i{
   color: var(--very-light-gray);
}
.input-group input, .input-group select{
   font-weight: 600;
   width: 85%;
   color: var(--very-dark-gray);
   border: none;
   outline: none;
   background-color: transparent;
}
.dark-mode .input-group select option{
   background-color: var(--dark-blue);
}
.dark-mode .input-group input,
.dark-mode .input-group input::placeholder,
.dark-mode .input-group select{
   color: var(--very-light-gray);
}

/* Main */
main{
   padding: 2rem;
}
.info{
   font-weight: 400;
   display: none;
}
.dark-mode .info{
   color: var(--very-light-gray);
}
.card{
   background-color: white;
   cursor: pointer;
   position: relative;
   margin: 0 auto 4rem auto;
   width: 100%;
   max-width: 450px;
   border-radius: .5rem;
   box-shadow: 0 3px .7rem rgba(0,0,0,.1);
}
.dark-mode .card{
   background-color: var(--dark-blue);
   color: var(--very-light-gray);
}
.card::after{
   content: 'Click to see more';
   position: absolute;
   display: none;
   top: 90%;
   right: 5%;
   font-size: 1.5rem;
   background-color: rgba(0, 0, 0, .1);
   padding: .5rem 1rem;
   border-radius: .3rem;
}
.card:hover::after{
   display: block;
}
.country-flag{
   border-radius: .5rem .5rem 0 0;
   width: 100%;
   height: 22rem;
   object-fit: cover;
}
.card-body{
   padding: 3rem 3.5rem;
}
h1{
   font-size: 2.7rem;
   margin-bottom: 1.7rem;
}
.some-info div{
   font-size: 1.7rem;
   margin-bottom: .5rem;
}

.country-detail .some-info{
   margin-bottom: 3rem;
}
.country-detail{
   max-width: 450px;
   margin: 0 auto;
   display: grid;
}
.dark-mode .country-detail{
   color: var(--very-light-gray);
}
.country-detail button{
   margin-bottom: 2rem;
   font-weight: 600;
   background-color: white;
   border: none;
   border-radius: 0.3rem;
   padding: 1rem 3rem;
   outline: none;
   box-shadow: 0 3px .7rem rgba(0,0,0,.1);
   cursor: pointer;
}
.dark-mode .country-detail button{
   background-color: var(--dark-blue);
   color: var(--very-light-gray);
}
.country-detail button i{
   margin-right: .4rem;
}
.country-detail .country-flag{
   border-radius: 0;
   margin-bottom: 2rem;
}
.border-countries h2{
   font-size: 2rem;
   margin-bottom: 1.5rem;
}
.border-countries a{
   display: inline-block;
   padding: .5rem 1rem;
   font-size: 1.3rem;
   background-color: white;
   box-shadow: 0 3px .7rem rgba(0,0,0,.1);
   border-radius: .3rem;
   margin: 0 .6rem .7rem 0;
}
.dark-mode .border-countries a{
   background-color: var(--dark-blue);
}
#pagination{
   text-align: center;
   max-width: 450px;
   margin: 0 auto;
   font-size: 1.3rem;
   font-weight: 800;
}
#pagination a{
   cursor: pointer;
   margin: 0 .3rem;
   padding: 0.5rem .8rem;
   border-radius: .3rem;
   background-color: white;
   box-shadow: 0 3px .7rem rgba(0,0,0,.1);
}
.dark-mode #pagination a{
   background-color: var(--dark-blue);
   color: var(--very-light-gray);
}

/* media queries */
@media (min-width: 768px){
   main{
      display: grid;
      grid-gap: 3rem;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      grid-template-rows: auto auto auto auto auto;
   }
   header{
      padding: 1.5rem 3rem;
   }
   .info{
      justify-self: flex-start;
      grid-row: 1/6;
      grid-column: 1/3;
   }
   .card{
      margin: 0;
   }
   #search-section{
      padding: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   .input-group{
      width: 40%;
      margin-bottom: 0;
   }
   .input-group:last-child{
      width: 25%;
   }
   .country-detail{
      grid-row: 1/6;
      grid-column: 1/3;
      max-width: 700px;
   }
   #pagination{
      margin-top: 1.5rem;
      text-align: center;
      grid-row: 5;
      grid-column: 1/3;
   }
}

@media (min-width: 992px){
   main{
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto auto auto;
   }
   .info{
      grid-row: 1/4;
      grid-column: 1/5;
   }
   .country-detail{
      padding: 3rem 7rem;
      width: 100%;
      grid-row: 1/4;
      grid-column: 1/5;
      max-width: none;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 6rem 1fr;
      grid-row-gap: 3rem;
      grid-template-areas: "button vazio" "img info" ;
   }
   .country-detail button{
      grid-area: button;
      width: 30%;
   }
   .country-detail h2{
      display: inline-block;
      margin-right: 1rem;
   }
   .country-detail .country-flag{
      width: 90%;
      grid-area: img;
      justify-self: flex-start;
   }
   .country-detail .country-info{
      align-self: center;
      grid-area: info;
      justify-self: flex-end;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
   }
   .country-detail .country-info .main-info{
      width: 50%;
   }
   .country-detail .country-info .secondary-info{
      width: 50%;
   }
   .border-countries{
      width: 100%;
      margin-top: 3rem;
   }
   #pagination{
      grid-row: 3;
      grid-column: 1/5;
   }
}
