.country_details {
  margin: 4rem auto;
  display: grid;
  grid-template: auto auto / 50% 50%;
  grid-template-areas: 'btn btn' 'flag info';
  gap: 4rem 2%;
  align-items: center;
}

.back{
  grid-area: btn;
  width: 15rem;
  height: 4.5rem;
  border-radius: 0.4rem;
  text-decoration: none;
  background-color: var(--elements);
  box-shadow: 0 0.3rem 0.7rem var(--shadow);
  font-size: 1.5rem;
  color: var(--text);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.back i{
  transition: transform 100ms ease-in;
}
.back:hover i{ 
  transform: translateX(-1rem);
}

.country_details img {
  grid-area: flag;
  width: 100%;
  max-width: 70rem;
}

.country_details section {
  grid-area: info;
  color: var(--text);
}

.country_details section h1 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.details {
  max-width: 60rem;
  display: flex;
  justify-content: space-between;
}

.details p {
  font-size: 1.75rem;
  margin: .8rem 0;
}

.details p span {
  font-weight: bold;
}

.borders_countries {
  margin-top: 3rem;
}

.borders_countries h1{
  font-size: 2rem !important;
  display: inline;
}

.borders_countries a{
  display: inline-block;
  color: var(--text);
  text-decoration: none;
  font-size: 1.5rem;
  padding: .5rem .9rem;
  background-color: var(--elements);
  box-shadow: 0 0.3rem 0.7rem var(--shadow);
  margin: .5rem .6rem;
  border-radius: .3rem;
  transition: transform 100ms ease-in;
}

.borders_countries a:hover{
  transform: scale(1.2);
}

@media (max-width: 992px){
  .country_details{
    max-width: 70rem;
    display: block;
    margin-top: 3rem;
  }

  .back{
    margin-bottom: 2rem;
    width: 100%;
    justify-content: center;
  }
  .back i{
    margin-right: 2rem;
  }

  .country_details img{
    margin-bottom: 2rem;
  }
}

@media (max-width: 576px){
  .details{
    flex-direction: column;
  }

  .details div:first-child{
    margin-bottom: 1.5rem;
  }
}