.header {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  background-color: var(--elements);
  box-shadow: 0 .3rem .7rem var(--shadow);
}

.header a {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text);
  text-decoration: none;
}

.header button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--text);
}

.header button span{
  font-size: 1.7rem;
  margin-left: .8rem;
}

@media (max-width: 576px){
  .header{
    padding: 0 2rem;
  }
  .header a{
    font-size: 1.7rem;
  }
  .header button span{
    font-size: 1.4rem;
  }
}