.countries_list{
  margin: 4rem 2rem;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 3rem;
}

.info{
  color: var(--text);
  font-size: 2.5rem;
}

@media (max-width: 1200px){
  .countries_list{
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 992px) {
  .countries_list{
    grid-template-columns: auto auto;
  }
}

@media (max-width: 768px) {
  .countries_list{
    grid-template-columns: auto;
    margin: 3rem auto;
  }
}